{% include "_common_header.html" %}
<body>
    <div class="col-md-6 col-md-offset-3">
        {% include "_front_header.html" %}

        <div>
            <h4>Articles</h4>
            <ul class="article-list">
            {% for article in articles %}
                <li><a href="/article/{{ article.id }}">{{ article.create_time |date:"Y-m-d" }} | {{ article.title }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {% if articles.has_previous %}
                <li class="previous"><a href="/articles/{{ articles.previous_page_number }}">上一页</a></li>
                <li class="previous"><a href="/articles">首页</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">上一页</a></li>
                <li class="previous disabled"><a href="#">首页</a></li>
                {% endif %}

                {% if articles.has_next %}
                <li class="next"><a href="/articles/{{ total_pages }}">尾页</a></li>
                <li class="next"><a href="/articles/{{ articles.next_page_number }}">下一页</a></li>
                {% else %}
                <li class="next disabled"><a href="#">尾页</a></li>
                <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </ul>
        </nav>

        {% include "_common_footer.html" %}
    </div>
</body>
</html>