{% include "_common_header.html" %}
<body>
    <div class="col-md-6 col-md-offset-3">
        {% include "_front_header.html" %}
        <div>
            <h4>Articles</h4>
            <ul class="article-list">
            {% for article in articles %}
                <li><a href="/article/{{ article.id }}">{{ article.create_time |date:"Y-m-d" }} | {{ article.title }}</a></li>
            {% endfor %}
            </ul>
        </div>

        {% include "_common_footer.html" %}
    </div>
</body>
</html>